:root{
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --success-color: #2ecc71;
    --info-color: #3498db;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
	--light-color: #ecf0f1;
    --dark-color: #2c3e50;
	--accent-color: #f39c12;
}

*{
    box-sizing: border-box;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
    color: #333;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 3px;
}
